.botao
	border: 1px solid $verde-escuro
	+border-radius(50px)
	color: $verde-escuro
	text-transform: uppercase
	font-weight: $bold
	+transition(.3s)
	
	&:hover
		background: 
			color: $verde-escuro
		border-color: $verde
		color: $cinza-claro
	
	&:focus
		background:
			color: $vermelho-opaco
		border-color: $cinza-claro
		color: $branco