/* ======== Cores =========*/
$verde: #c6dfdc
$branco: white
$vinho: #881b2e
$rosa: #ff1255
$rosa-opaco: #b74e91
$azul-escuro: #313858
$laranja: #e9a68f
$verde-escuro: #60918d
$cinza-escuro: #282b33
$cinza: #ababa8
$cinza-claro: #f4f4f4
$cinza-escrita: #919499
$vermelho: #f7564b
$vermelho-opaco: #e7746f
$marron: #776c60
$azul-claro: #00b7e1
$roxo: #4e2e51
$preto: #000
$roxo-escuro: #4a148c
/* === cores icones linguagens */
$laranja-html5: #e44d26
$azul-css3: #0270bb
$azul-wordpress: #00a0d2
/* === cores do formulario  ===*/
$cinza-label: #d2d2d2
$cinza-input: #909090
/* ======== Font */
$light: 300
$regular: 400
$bold: 700

$celular: max-width 440px
$tablet: max-width 991px

=flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

=gradient($angle,$gradient1, $gradient2)
  background-color: $gradient2
  background-image: -webkit-gradient(linear, $angle, from($gradient1), to($gradient2))
  background-image: -webkit-linear-gradient($angle, $gradient1, $gradient2)
  background-image:    -moz-linear-gradient($angle, $gradient1, $gradient2)
  background-image:     -ms-linear-gradient($angle, $gradient1, $gradient2)
  background-image:      -o-linear-gradient($angle, $gradient1, $gradient2)
  background-image:         linear-gradient($angle, $gradient1, $gradient2)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}')

/* ======== Outros */
=transition($transition...)
  -moz-transition:    all $transition linear
  -o-transition:      all $transition linear
  -webkit-transition: all $transition linear
  transition:         all $transition linear

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@function calculateRem($size)
  $remSize: $size / 16px
  @return $remSize * 1rem

=font-size($size)
  font-size: $size
  font-size: calculateRem($size)

=opacity($opacity)
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity=$opacity-ie)

/* ======== Background Color Opacity */
=background-opacity($color: #000, $opacity: 0.85)
  background: $color
  background: rgba($color, $opacity)

/* ======== Columns */
=columns($count: 3, $gap: 10)
  @include css3-prefix('column-count', $count)
  @include css3-prefix('column-gap', $gap)